<html>
<head>
    <title>Users_Buy - <%= result[0].resume_name %></title>
</head>
<body>
    <h1>Users_Buy</h1>
    <ul>
        <li>Username: <%= result[0].Username%></li>
        <li>Code: <%= result[0].code %></li>
    </ul>
</body>

</html>