<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <a href="/User/all">Users - View All</a> <br />
    <a href="/Users_Buy/all">Users_Buy - View All</a> <br />
    <a href="/User_Orders/all">User_Orders - View All</a> <br />
    <a href="/Shoes/all">Shoes - View All</a> <br
    <a href="/AboutPage/all">About Page </a> <br />
    </a> <br /> This page allows you to access your Order, username etc. It lets you adjust your current orders as well as information stored.
    <br />

  </body>
</html>
