<html>
<head>
    <title>Add New User</title>
</head>
<body>
<h1>Add New User</h1>
<form action="/User/insert" method="get">
    User Username: <input id="Username" name="Username" type="text" />
    User First Name: <input id="Fname" name="Fname" type="text" />
    User Last Name: <input id="Lname" name="Lname" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>