<html>
<head>
    <title>Users - <%= result[0].email %></title>
</head>
<body>
    <h1>Users</h1>
    <ul>
        <li>Username: <%= result[0].Username%></li>
        <li>First Name: <%= result[0].Fname %></li>
        <li>Last Name: <%= result[0].Lname %></li>
    </ul>
</body>

</html>