<html>
<head>
    <title>About My Page</title>
</head>
<body>
<h1> This page allows you to access your Order, username etc. It lets you adjust your current orders as well as information stored.</h1>
<form action="/company/insert" method="get">
    Company Name: <input id="company_name" name="company_name" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>