<html>
<head>
    <title>Companies - <%= result[0].AboutPage_name %></title>
</head>
<body>
    <h1>Companies</h1>
    <ul>
        <li>AboutPage ID: <%= result[0].AboutPage_id%></li>
        <li>AboutPage Name: <%= result[0].AboutPage_name %></li>

    </ul>
</body>

</html>