<html>
    <head>
        <title>Companies</title>
    </head>
    <body>
        <h1>Companies</h1>
        <a href="/AboutPage/add">Add New AboutPage</a> <br />

        <br />

        <table border="1">
            <tr><th>Name</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/AboutPage/?AboutPage_id=<%= result[i].AboutPage_id %>"><%= result[i].AboutPage_name %></a></td>

                <td><form action="/AboutPage/delete/">
                        <input type="hidden" name="AboutPage_id" id="AboutPage_id" value="<%= result[i].AboutPage_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>
                </td>

            </tr>
            <% } %>
        </table>
    </body>

</html>