<html>
<head>
    <title>User_Orders - <%= result[0].Username %></title>
</head>
<body>
    <h1>User_Orders</h1>
    <ul>
        <li>Username : <%= result[0].Username%></li>
        <li>Order_number: <%= result[0].Order_number %></li>
    </ul>
</body>

</html>