<html>
<head>
    <title>Add New User_Orders</title>
</head>
<body>
<h1>Add New User_Orders</h1>
<form action="/User_Orders/insert" method="get">
    Username: <input id="Username" name="Username" type="text" />
    Order_number: <input id="Order_number" name="Order_number" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>